html, body {
  height: 100%;
}

#main-wrapper, #container {
  height: 100%;
}

.left-container {
  margin-left: 0px !important;
  z-index: 1;
}

#container.container {
  z-index: -1;
}

.full-height {
  height: 100%;
}

.full-size {
  height: 8000px;
  width: 100%;
}

.full-pdf-size {
  height: 2000px;
  width: 100%;
}

.questions {
  overflow-y: auto;
  // height: 100%;
}

.navbar, .navbar-collapse {
  height: 70%;
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 999;
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

.navbar-nav > li > a {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
