/*
Theme Name: Garis
Theme URI:
Author: DevelPixel
Author URI: http://develpixel.com/
Description: Garis Creative Agencies Template. Made from Bootstrap.
Version: 1.0
Text Domain: Garis Themes
*/

/*
    [ IMPORT RESOURCES ]
*/
 @import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,500);
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,700,800);

/*
    [ TYPHOGRAPY ]
*/
 body {
    font-family:'Open Sans', sans-serif;
    color: #85939b;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
    color: #232a2f;
}
h3, h4, h5 {
    font-family:'Raleway', sans-serif;
    font-weight: 200;
    margin-bottom: 30px;
}
p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 30px;
}
iframe{
    border:0;
    outline: 0;
}
.header-content {
    margin-bottom: 40px;
    color: #FFF;
}
.header-content h2 {
    font-weight: 300;
    font-size: 40px;
}
.header-content h3 {
    font-family:'Raleway', sans-serif;
    font-weight: 200;
    text-transform: capitalize;
    font-size: 24px;
}
ul.list li:before {
    position: absolute;
    left: 3px;
    font-family:'FontAwesome';
    content:'\f105';
}
ul.list {
    padding-left: 28px;
    padding-bottom: 10px;
    list-style: none;
    position: relative;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}
/*
    [ GENERAL ELEMENTS ]
*/
 a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #DDAD02;
}
a:hover {
    color: #232a2f;
    text-decoration: none;
}
#main-wrapper {
    width: 100%;
    position: relative;
}
blockquote {
    margin-left: 20px;
}
blockquote p {
    margin-bottom: 10px !important;
}
code {
    display: block;
    padding: 4px 8px;
    font-size: 90%;
    color: #c7254e;
    white-space: inherit;
    background-color: #f9f2f4;
    border-radius: 2px;
}
#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1031;
    background: #f7f8f9;
}
footer {
    background: #e5e8eb;
    padding:40px;
}
footer p {
    font-size: 14px;
    text-align: center;
}
#sidebar {
    position: fixed;
    width: 240px;
    background: #e5e8eb;
    height: 100%;
    left: 0;
    font-family:'Raleway', sans-serif;
}
#sidebar .navbar-toggle {
    margin-top: 11px;
}
#sidebar .navbar-brand {
    padding-top: 10px;
    padding-bottom: 20%;
    padding-left: 30px;
}
#sidebar .navbar {
    border-radius: 0;
    background: transparent;
    border: none;
    padding-top: 5%;
}
#sidebar .navbar-collapse {
    padding-left: 20px;
}
#sidebar .navbar-header, #sidebar .navbar-nav, #sidebar .navbar-nav li {
    float: none;
    margin-left: -10px;
}
#sidebar .navbar-default .navbar-nav>li>a {
    color: #232a2f;
    font-size: 13px;
    font-weight: 300;
    letter-spacing:1.5px;
    text-transform: uppercase;
    padding-left: 30px;
}
#sidebar .navbar-default .navbar-nav>li>a:hover {
    background: rgba(38, 41, 46, .2);
}
#sidebar .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: transparent;
    color: #DDAD02;
}
#sidebar .navbar-nav {
    margin: 7.5px -25px;
}
#sidebar .navbar-nav .opens .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    border: 0;
    box-shadow: none;
    background-color: transparent;
}
#sidebar .navbar-default .navbar-nav .opens .dropdown-menu>li>a {
    color: #777;
}
#sidebar .navbar-nav .opens .dropdown-menu>li>a {
    line-height: 20px;
}
#container {
    position: relative;
    margin-left: 240px;
}
#container section {
    padding: 60px;
}
#container section {
    background: #f7f8f9;
}
#container section.odd {
    background: #eceff1;
}
.mg-bt-80 {
    margin-bottom: 80px;
}
.mg-bt-60 {
    margin-bottom: 60px;
}
.mg-bt-40 {
    margin-bottom: 40px;
}
.totop {
    position: fixed;
    bottom: 0;
    right: 0px;
    width: 0px;
    height: 0px;
    color: #FFF;
    border-style: solid;
    border-width: 0 0 60px 60px;
    border-color: transparent transparent rgba(18, 24, 24, .4) transparent;
    z-index: 999;
}
.totop span {
    position: relative;
    overflow: hidden;
    font-size: 20px;
    bottom: -27px;
    display: inline-block;
    left: -50px;
    cursor: pointer;
    height: 42px;
    width: 60px;
    line-height: 30px;
    text-align: center;
    z-index: 1000;
}
.totop a {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.totop .first {
    top: 0px;
}
.totop .hover {
    top: 20px;
}
.totop .first i {
    color: #FFF;
}
.footer-toogle .hover i {
    color: #DDAD02;
}
.totop:hover {
    cursor: pointer;
}
.totop:hover span > a.first {
    top: -20px;
}
.totop:hover span > a.hover {
    top: 0px;
    color: #DDAD02;
}
.btn {
    border-radius: 0;
    padding: 8px 13px;
    margin-right: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn.big {
    padding: 13px 25px;
    font-size: 18px;
}
.btn.btn-dark {
    background: #e5e8eb;
    color: #FFF;
}
.btn.btn-dark:hover {
    background: #323838;
}
.btn.btn-light {
    background: #323838;
    color: #FFF;
}
.btn.btn-light:hover {
    background: #e5e8eb;
}
.social-icon {
    padding: 0;
    text-align: center;
}
.social-icon li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 15px;
}
.social-icon li a {
    display: block;
    width: 72px;
    height: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 72px;
    color: #2b2e33;
    background: #e5e8eb;
    border-radius: 50%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.social-icon li:hover a {
    transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    /* IE 9 */
    -webkit-transform: rotateX(360deg);
    /* Safari and Chrome */
    -o-transform: rotateX(360deg);
    /* Opera */
    -moz-transform: rotateX(360deg);
    /* Firefox */
    color: #FFF;
    background: #DDAD02;
}
.social-icon li:hover a i {
    transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    /* IE 9 */
    -webkit-transform: rotateY(360deg);
    /* Safari and Chrome */
    -o-transform: rotateY(360deg);
    /* Opera */
    -moz-transform: rotateY(360deg);
    /* Firefox */
}
/*
    [PAGES STYLE]
*/

/* ====== HOME ====== */
 #container section.home {
    padding: 0px;
}
.home .bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.home .slide-filter {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:rgba(236, 239, 241, 0.48);
}
.home .slide-text {
    position: absolute;
    display: block;
    bottom:40%;
    right: 0;
    left:-220px;
    width: 100%;
    padding: 0 10px;
    z-index: 22;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.home .slide-text h2 {
    font-family:'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 2px;
    color: #232a2f;
    position: relative;
}
.home .slide-text span {
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #232a2f;
    position: relative;
}
.home .slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0%;
    height: 120px;
}
.home .slides-navigation a {
    position: absolute;
    font-size: 40px;
    font-weight: 300;
    top: 0;
    right: 0;
    line-height: 35px;
    z-index: 1;
    bottom: 21px;
    color: #232a2f;
}
.home .slides-navigation a:hover {
    color: #DDAD02;
}
.home .slides-navigation a.prev, .home .slides-navigation a.next {
    background: #f7f8f9;
    width: 40px;
    height: 40px;
    text-align: center;
}
.home .slides-navigation a.prev {
    right: 42px;
}
/* ====== Services ====== */
 #slider-services {
    position: relative;
    z-index: 1;
}
#slider-services div {
    position: relative;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
#slider-services div img {
    z-index: -1;
    position: relative;
    width: 100%;
}
.services .services-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #DDAD02;
    text-align: center;
    font-size: 30px;
    color: #FFF;
    margin: 0 auto;
    position: relative;
    line-height: 70px;
}
.services .services-desc {
    padding-left: 10px;
}
.services .services-desc h4 {
    margin-top: 0;
    margin-bottom: 15px;
}
/* ====== Portfolio ====== */
 .portfolio {
    padding-top: 60px;
    padding-bottom: 80px;
    background: #F4F4F4;
}
.portfolioContainer {
    padding: 20px;
}
.portfolio .portfolio-item {
    opacity: 0;
    display: none;
    margin: 0;
    padding: 0;
}
.portfolio .portfolio-item img {
    width: 100%;
    height: auto;
}
.portfolioFilter {
    font-weight: 400;
    margin-bottom: 20px;
}
.portfolioFilter a {
    margin-right: 10px;
    text-decoration:none;
    font-weight: 300;
    text-align: center;
}
.portfolioFilter a.active {
    text-decoration: line-through;
    color: #FFF;
}
.portfolio-item {
    position: relative;
    color: #ffffff;
    line-height: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.project-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.0);
    background: rgba(0, 0, 0, 0.0);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4em;
    line-height: 20px;
    text-transform: uppercase;
    visibility: visible;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.portfolio-item a:hover > .project-hover {
    color: rgba(255, 255, 255, 1);
    cursor: crosshair;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.project-hover span {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.portfolio-item a:hover > .project-hover span {
    padding: 15px 0;
    font-family:'Raleway', sans-serif;
}
.project-hover b {
    color: rgba(255, 255, 255, 0.0);
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
    padding-top: 0;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.project-hover span.plus {
    font-size: 120px;
    font-weight: 100;
}
.portfolio-item a:hover > .project-hover b {
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/* ====== Testimonial ====== */
 .testimonial {
    text-align: center;
}
.testimonial ul li {
    list-style: none;
    padding: 0;
}
.testimonial h2 {
    font-weight: 300;
    padding: 0 10%;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}
.testimonial .icon-testimonial {
    font-size: 35px;
    padding-bottom: 15px;
    color: #DDAD02;
}
.testimonial span {
    padding-top: 20px;
    display: block;
    position: relative;
}
.testimonial span#controls {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -60px;
    padding: 0;
    margin-right: -44px;
    line-height: 37px;
}
.testimonial .quote-right-indicator:hover, .testimonial .quote-left-indicator:hover {
    color: #DDAD02;
}
.testimonial .quote-right-indicator, .testimonial .quote-left-indicator {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    background: #e5e8eb;
    font-size: 25px;
    font-weight: 300;
    z-index: 1;
    color: #CECECE;
}
.testimonial .quote-left-indicator {
    margin-right: 2px;
}
/* ====== About ====== */
 .about .teams {
    color: #202020;
    background: #FFF;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}
.about .teams .pict {
    position: relative;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}
.about .teams .pict img {
    position: relative;
    z-index: -1;
    max-width: 100%;
    width: 100%;
}
.about .teams h3 {
    margin-bottom: 20px;
    color: #202020;
    font-weight: 400;
}
.about .teams .desc {
    padding:25px;
}
.about .teams span {
    font-size: 13px;
    font-weight: 700;
    display: block;
    position: relative;
    padding-bottom: 30px;
}
.about .social a {
    width: 31px;
    height: 31px;
    position: relative;
    text-align: center;
    color: #202020;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    line-height: 28px;
    font-size: 16px;
    border: 1px solid #202020;
}
.about .social a:hover {
    background: #202020;
    color: #FFF;
}
.about canvas {
    width: 100%;
}
.about .skill-bar ul {
    list-style: none;
    padding: 0;
}
.about .skill-bar ul li {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 26px;
}
.about .skill-bar ul li h4 {
    margin: 0;
    line-height: 50px;
    position: absolute;
}
.about .skill-bar ul li .bar {
    display: inline-block;
    padding-left: 15px;
    height: 100%;
    background: #DDAD02;
}
.about .skill-bar ul li span {
    position: absolute;
    top: 0;
    right: 20px;
    color: #FFF;
}
.about .client-slider {
    list-style: none;
    padding-left: 0;
    position: relative;
    display: block;
    margin: 0 auto;
}
.about .client-slider li {
    margin: 5px 5px;
    display: inline-block;
}
/* ====== Blog Front ====== */
 .blog-front article {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
}
.blog-front article .blog-thumb {
    position: relative;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}
.blog-front article .blog-thumb img {
    z-index: -1;
    width: 100%;
    max-width: 100%;
    position: relative;
}
.blog-front article .post-area {
    text-align: right;
}
.blog-front article .post-area h4 {
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: left;
}
.blog-front article .post-area .post-date {
    font-weight: 700;
    display: block;
    position: relative;
    text-align: left;
    margin-bottom: 20px;
}
.blog-front article .post-area p {
    text-align: left;
}
/* ====== Call To Action ====== */
 .call-ta {
    position: relative;
}
.call-ta h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 20px;
    border-left: 3px solid #DDAD02;
}
.call-ta h2 span {
    display: block;
    font-size: 16px;
    line-height: 26px;
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    text-transform:none;
    letter-spacing: 0px;
}
.call-ta .btn {
    display: inline-block;
    margin: 25px 10px 10px;
}
.call-ta .slide-filter {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:rgba(38, 41, 46, 0.7);
}
/* ====== Map & Contact ======*/
 #map {
    height: 450px;
    width: 100%;
}
/* Contact */
 .contact {
    position: relative;
}
.contact:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content:" ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #eceff1;
    border-width: 20px;
    margin-left: -20px;
}
.contact form {
    margin-bottom: 40px;
}
.contact form .form-group {
    margin-bottom: 2px;
}
.contact form input, .contact form textarea {
    border-radius: 0;
    background: rgba(0, 0, 0, .07);
    color: #85939b;
    border:none;
    border-left:1px solid #DDAD02;
    box-shadow: none;
}
.contact form input {
    height: 50px;
}
.contact form input:focus, .contact form textarea:focus {
    box-shadow: none;
    border:1px solid #DDAD02;
}
/* ====== BLOG PAGES ====== */
 #container section.blog {
    padding-top: 100px;
    padding-bottom: 100px;
}
#primary {
    padding-right: 20px;
    margin-right: 20px;
    border-right:1px solid #e5e8eb;
    margin-bottom: 40px;
}
#primary .pagination {
    margin: 60px 0 10px;
    display: inline-block;
}
#primary .pagination li {
    display: inline-block;
}
#primary .pagination li a {
    width: 55px;
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    color: #85939b;
    height: 55px;
    margin-right: 10px;
    margin-bottom: 8px;
    border-radius: 50%;
    background: #eceff1;
    border:none;
    text-align: center;
    line-height: 55px;
    display: block;
    padding:0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#primary .pagination li:hover a {
    background: #DDAD02;
    color: #FFF;
}
#primary .pagination li.active a:hover {
    pointer-event:none;
    transform: none;
    -ms-transform: none;
    /* IE 9 */
    -webkit-transform: none;
    /* Safari and Chrome */
    -o-transform: none;
    /* Opera */
    -moz-transform: none;
}
#primary .pagination li.active a {
    color: #FFF;
    background: #DDAD02;
}
.widgetbar {
    padding-left: 0;
}
.post {
    position: relative;
    margin-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #e5e8eb;
}
.post:first-child {
    margin-top: 0;
}
.post:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
.post .post-thumb {
    position: relative;
}
.post .post-thumb img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.post .post-title {
    position: absolute;
    max-width: 95%;
    right: 0;
    top: 0;
    background: #e5e8eb;
    padding:5px 20px;
}
.post .post-title h1 {
    line-height: 54px;
    font-weight: 300;
    font-size: 36px;
    margin: 0;
    font-family:'Raleway', sans-serif;
}
.post .post-title h1 a {
    color: #232a2f;
}
.post .post-meta {
    margin-bottom: 40px;
}
.post .post-meta span {
    /*color: #FFF;*/
    font-weight: 300;
    text-transform: uppercase;
    font-size: 13px;
}
.post .post-meta span a {
    /*color: #FFF;*/
    color: inherit;
}
.post .post-meta span a:hover {
    color: #DDAD02;
}
.post .post-meta span:after {
    content:'/';
    margin: 0 5px 0 9px;
}
.post .post-meta span:last-child:after {
    content:'';
    margin:0;
}
.post .post-content p {
    margin-bottom: 30px;
}
/* ribbon style */
 .ribbon-wrapper {
    position: absolute;
    bottom: 20px;
    left: 0;
}
.ribbon-front {
    background-color: #eceff1;
    height: 40px;
    width: 70px;
    position: relative;
    left:-20px;
    z-index: 2;
    text-align: center;
    line-height: 40px;
}
.ribbon-front a {
    color: #85939b;
}
.ribbon-front a:hover i {
    color: #ff9999;
}
.ribbon-front i {
    color: #ff5555;
    font-size: 18px;
}
/*
  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}
*/
 .ribbon-edge-topleft, .ribbon-edge-topright, .ribbon-edge-bottomleft, .ribbon-edge-bottomright {
    position: absolute;
    z-index: 1;
    border-style:solid;
    height:0px;
    width:0px;
}
.ribbon-edge-topleft, .ribbon-edge-topright {
}
.ribbon-edge-bottomleft, .ribbon-edge-bottomright {
    top: 40px;
}
.ribbon-edge-topleft, .ribbon-edge-bottomleft {
    left: -20px;
    border-color: transparent #e5e8eb transparent transparent;
}
.ribbon-edge-topleft {
    top: -10px;
    border-width: 10px 20px 0 0;
}
.ribbon-edge-bottomleft {
    border-width: 0 20px 0px 0;
}
.ribbon-edge-topright, .ribbon-edge-bottomright {
    left: 100px;
    border-color: transparent transparent transparent #2828BA;
}
.ribbon-edge-topright {
    top: -10px;
    border-width: 10px 0 0 20px;
}
.ribbon-edge-bottomright {
    border-width: 0 0 0px 20px;
}
.ribbon-back-left {
    position: absolute;
    top: -10px;
    left: 0px;
    width: 0px;
    height: 40px;
    z-index: 0;
}
.ribbon-back-right {
    position: absolute;
    top: -10px;
    right: 0px;
    width: 0px;
    height: 40px;
    z-index: 0;
}
/* BLOG AUTHOR */
 .blog-author {
    margin: 40px 0;
    padding: 0 20px 40px 20px;
    border: 1px solid #e5e8eb;
    position: relative;
    background: #eceff1;
}
.blog-author .blog-author-content {
    position: relative;
    display: block;
}
.blog-author figure {
    width: 120px;
    position: relative;
}
.blog-author .blog-author-info {
    margin-left: 120px;
    position: absolute;
    top: 0;
}
.blog-author .blog-author-info p {
    position: relative;
}
/* BLOG COMMENTS */
 .blog-comments > h3 {
    margin-bottom: 40px;
}
.blog-comments > h3 span {
    font-size: 13px;
    display: block;
    margin-top: 10px;
}
.blog-comments form {
    margin-bottom: 40px;
}
.blog-comments form .form-group {
    margin-bottom: 2px;
}
.blog-comments form input, .blog-comments form textarea {
    border-radius: 0;
    background: #eceff1;
    color: #85939b;
    border:none;
    border-left:1px solid #DDAD02;
    box-shadow: none;
}
.blog-comments form input {
    height: 50px;
}
.blog-comments form input:focus, .blog-comments form textarea:focus {
    box-shadow: none;
    border:1px solid #DDAD02;
}
.blog-comments .blog-comment-content figure img {
    border-radius: 50%;
}
.blog-comments .blog-comment-content .comment-meta {
    display: block;
}
.blog-comments .blog-comment-content .comment-meta .media-heading {
    display: inline-block;
}
.blog-comments .blog-comment-content .comment-meta .in-reply, .blog-comments .blog-comment-content .comment-meta span.time {
    font-size: 12px;
    padding-left:15px;
}
.blog-comments .blog-comment-content .comment-meta .comment-extra {
    display: inline-block;
}
.blog-comments .blog-comment-content .media-list li {
    padding: 15px;
}
.blog-comments .blog-comment-content .media-list li:nth-child(2n+1) {
    background: #eceff1;
}
.blog-comments .blog-comment-content .media-body .media-heading a {
    color: #232a2f;
    padding-bottom: 1px;
    border-bottom: 1px dotted #85939b;
}
/* ====== WIDGET ====== */
 .widgetbar .widget {
    margin-bottom: 30px;
}
.widgetbar .widget ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}
.widgetbar .widget ul li, .widgetbar .widget ul li a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #85939b;
}
.widgetbar .widget ul li a:hover {
    color: #DDAD02;
}
.widgetbar .widget ul li {
    margin-bottom: 7px;
}
.widgetbar .widget .search-widget input[type='text'] {
    height: 50px;
    border-radius: 0;
    background: #e5e8eb;
    border:none;
    padding: 8px 12px;
    box-shadow: none;
}
.widgetbar .widget .search-widget .btn {
    height: 50px;
    border-radius: 0;
    background: #e5e8eb;
    border:none;
    color: #f7f8f9;
    box-shadow: none;
    font-size: 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.widgetbar .widget .search-widget .btn:hover {
    color: #FFF;
}
.widgetbar .widget .ads-widget img {
    max-width: 100%;
}
.widget .widget-title {
    font-family:'Raleway', sans-serif;
    font-weight: 500;
    /*color: #FFF;*/
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0;
}
.widget .widget-title a {
    color: inherit;
}
.widget .widget-title a:hover {
    color: #DDAD02;
}
/* =====================================================================

                        RESPONSIVE UTILITIES

===================================================================== */
 .dpXsmall .post .post-title {
    position: relative;
    right: inherit;
    top: inherit;
    background: transparent;
    padding:0;
}
.dpXsmall .post .post-title h1 {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.dpSmall .media figure.pull-left, .dpXsmall .media figure.pull-left {
    float: none !important;
    padding-bottom: 20px;
}
.dpXsmall .blog-comments .blog-comment-content .comment-meta .media-heading, .dpXsmall .blog-comments .blog-comment-content .comment-meta .in-reply, .dpXsmall .blog-comments .blog-comment-content .comment-meta span.time {
    display: block;
    padding-left: 0;
    margin: 8px 0;
}
.dpXsmall .blog-comments .blog-comment-content .comment-meta .comment-extra {
    float: none !important;
    margin-bottom: 20px;
}
.dpSmall #primary, .dpXsmall #primary {
    padding-right: 0;
    margin-right: 0;
    border-right: 0;
}
.dpSmall #sidebar, .dpXsmall #sidebar {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 99999;
}
.dpSmall .widgetbar, .dpXsmall .widgetbar {
    padding-left: 15px;
}
.dpSmall #sidebar .navbar, .dpXsmall #sidebar .navbar {
    padding-top: 20px;
}
.dpSmall #sidebar .navbar-brand, .dpXsmall #sidebar .navbar-brand {
    padding-bottom: 0;
}
.dpSmall #container, .dpXsmall #container {
    margin-left: 0;
}
.dpSmall .home .slide-text, .dpXsmall .home .slide-text {
    left: 0;
}
.dpSmall .home .slides-navigation, .dpXsmall .home .slides-navigation {
    bottom: 0%;
    height: 40px;
    top: inherit;
}
.dpSmall .home .slide-text h2, .dpXsmall .home .slide-text h2 {
    font-size: 35px;
    line-height: 45px;
}
.dpSmall .home .slide-text span, .dpXsmall .home .slide-text span {
    font-size: 18px;
    line-height: 27px;
}
.dpSmall .services .services-icon, .dpXsmall .services .services-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #DDAD02;
    text-align: center;
    font-size: 30px;
    color: #FFF;
    margin: 10px 0 20px;
    position: relative;
    line-height: 70px;
}
.widgetbar .widget .search-widget input::-webkit-input-placeholder {
    color: #333;
}
.widgetbar .widget .search-widget::-moz-placeholder {
    color: #333;
}
/*
-------------------------

    BOOTSTRAP THEMING

-------------------------
*/

/*
    ACCORDION
*/
 .panel-group .panel {
    margin-bottom: 5px;
}
.panel-group p {
    font-size: 16px;
}
.panel-group .panel {
    border:0;
    border-radius: 0;
    margin-top: 0 !important;
}
.panel-heading {
    border-radius: 0;
    border-top:1px solid transparent;
    padding: 0;
}
.panel-default>.panel-heading {
    color: #1A1E22;
    background-color: #e5e8eb;
    border-color: transparent;
}
.panel-title {
    font-size: 16px;
    color: inherit;
    font-weight: 700;
    display: block;
}
.panel-title a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
.panel-title a:hover{
    color: #FFF;
}
.panel-body {
    background: #1A1E22;
}
.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0;
}
/*
    NAV TABS
*/
 .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #1A1E22;
    color: #e5e8eb;
    border-radius: 0;
    webkit-border-radius: 0;
    border-top: 0;
    border-left: none;
    border-bottom: 0;
    border-right: 0;
}
.nav-tabs {
    border-bottom: 0;
    overflow: hidden;
}
@media screen and (max-width: 440px) {
    .nav-tabs li {
        width: 30%;
    }
}
.nav-tabs > li > a {
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: inherit;
    background: #e5e8eb;
    font-weight: 700;
    border-left: none;
    margin: 0;
    margin-right: 5px;
    padding: 15px 20px;
    border-radius: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-tabs > li.active:first-child > a:hover {
    border-left: 0;
    border-bottom: 0;
}
.nav-tabs > li > a {
    border-bottom: 1px solid #CCC;
    border:0;
    color: #1A1E22;
}
.nav-tabs > li > a:hover {
    color: #FFF;
    background: #3a3e45;
    border-top: 0;
    border-right: 0;
    border-left: none;
    border:0;
}
.nav-tabs > li:first-child > a {
    border-left: 0;
}
.tab-content {
    background: #1A1E22;
    padding: 15px;
    border:0;
}
/*
    ALERTS
*/
 .alert {
    border-radius: 0;
    padding: 20px;
    margin-bottom: 10px;
    border:none;
    color: #FFF;
    font-size: 16px;
}
.alert-dismissable .close {
    right: -21px;
    top: -21px;
    width: 31px;
    height: 31px;
    background: #1A1E22;
    color: inherit;
    opacity: 1;
    text-shadow: none;
}
.alert-warning {
    background: #deb14d;
}
.alert-success {
    background: #70bc70;
}
.alert-info {
    background: #52adda;
}
.alert-danger {
    background: #c46868;
}
/*
    TOOLTIP
*/
 .tooltip {
    font-size: 14px;
}
.tooltip-inner {
    padding: 15px 15px;
    border-radius: 0;
    background: #1A1E22;
}
.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: #1A1E22;
    border-width: 5px 5px 0;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #1A1E22;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #1A1E22;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #1A1E22;
}
/*
    LABEL
*/
 .label {
    padding: 5px 8px;
    border-radius: 0;
}
.label-warning {
    background: #deb14d;
}
.label-info {
    background: #52adda;
}
.label-success {
    background: #70bc70;
}
.label-danger {
    background: #c46868;
}
/*
    PROGRESS BAR
*/
 .progress {
    height: 25px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.07);
    box-shadow: none;
}
.progress-bar {
    padding: 20px;
}
/*
    PANEL
*/
 .panel {
    border-radius: 0;
}
.panel .panel-heading {
    border-radius: 0;
}
.panel .panel-heading h3 {
    padding: 10px;
}
/*
    TABLE
*/
 .table.table-bordered {
    background: #F4F4F4;
}
/*
    FORM
*/
 form .form-group {
    margin-bottom: 2px;
    margin-bottom: 15px;
}
form .form-group label {
    margin-bottom: 10px;
    font-weight: 400;
}
form .form-control, form textarea {
    border-radius: 0;
    background: rgba(0, 0, 0, .07);
    color: #85939b;
    border:none;
    border-left:1px solid #DDAD02;
    box-shadow: none;
}
form input.form-control {
    height: 50px;
}
form .form-control:focus, form textarea:focus {
    box-shadow: none;
    border:1px solid #DDAD02;
}
/*
    BUTTON
*/
 .btn {
    border-radius: 0;
    padding: 8px 13px;
    margin-right: 5px;
    outline: 0;
    font-weight: 700;
}
.btn-link {
    color: #2b2e33;
    text-decoration: underline;
}
.btn-link:hover {
    color: #DDAD02;
}
/*
    WELL
*/
 .well {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.07);
    border:1px solid #85939b;
}
/*
    PAGINATION
*/
 .pagination {
    margin: 40px 0 10px;
    display: inline-block;
}
.pagination li {
    display: inline-block;
}
.pagination li a {
    width: 55px;
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    color: #85939b;
    height: 55px;
    margin-right: 10px;
    margin-bottom: 8px;
    border-radius: 50%;
    background: #eceff1;
    border:none;
    text-align: center;
    line-height: 55px;
    display: block;
    padding:0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.pagination li:hover a {
    background: #DDAD02;
    color: #FFF;
}
.pagination li.active a:hover {
    pointer-event:none;
    transform: none;
    -ms-transform: none;
    /* IE 9 */
    -webkit-transform: none;
    /* Safari and Chrome */
    -o-transform: none;
    /* Opera */
    -moz-transform: none;
}
.pagination li.active a {
    color: #FFF;
    background: #DDAD02;
}
.pagination>li:last-child>a, .pagination>li:last-child>span,.pagination>li:first-child>a, .pagination>li:first-child>span{
    border-radius: 50%;
}
/*
    ICON
*/
.bs-glyphicons {
margin: 0 -19px 20px -16px;
overflow: hidden;
}
.bs-glyphicons-list {
padding-left: 0;
list-style: none;
}
.bs-glyphicons .glyphicon {
margin-top: 5px;
margin-bottom: 10px;
font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
display: block;
text-align: center;
word-wrap: break-word;
}
.bs-glyphicons li {
float: left;
width: 25%;
height: 115px;
padding: 10px;
font-size: 10px;
line-height: 1.4;
text-align: center;
border: 1px solid #fff;
background-color: #f9f9f9;
}
